.sidebar {
  flex: 1;
  height: calc(100vh - 50px);
  background-color: rgb(224, 224, 224);
  position: sticky;
  top: 50px;
}

.sidebar-wrapper {
  padding: 20px;
  color: #555;
}

.sidebar-menu {
  margin-bottom: 10px;
}

.sidebar-title {
  font-size: 1rem;
  color: rgb(163, 163, 163);
}

.sidebar-list {
  list-style: none;
  padding: 5px;
}
.sidebar-listItem {
  padding: 5px;
  cursor: pointer;
  display: flex;
  margin: 5px;
  align-items: center;
  background-color: rgb(229, 229, 229);
  border-radius: 10px;
}
.sidebar-listItem.active,
.sidebar-listItem:hover {
  background-color: rgb(154, 154, 154);
}
.sidebarIcon {
  font-size: 25px !important;
  margin-right: 5px;
}
